# Add any directories, files, or patterns you don't want to be tracked by version control

project/project
project/target
target
.history
dist
.idea
*.iml
*~
.idea_modules
.classpath
RUNNING_PID
.settings
.project
out
src_generated
query.history
.bsp
.scala-build
examples/data/tweets
examples/data/tweets_avro
examples/data/users
examples/data/users_avro

examples/data-to-scan/tweets
examples/data-to-scan/tweets_avro
examples/data-to-scan/users
examples/data-to-scan/users_avro
